@import url('fuentes.css');

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Montserrat", sans-serif;
}

/* Estilos de la cabecera */

header{
    background-color: #3A2A49;
    height: 10vh;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo, #opciones{
    width: 50%;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.logo{
    padding: 20px;
}

#logo{
    border-radius: 5px;
}

.white-link{
    text-decoration: none;
    color: #FFF;
}

.white-link:hover{
    text-decoration: underline;
}

#titulo{
    margin-left: 10px;
    font-family: "Arvo";
    font-size: 1.7em;
}

#opciones{
    justify-content: space-evenly;
}

#opciones img{
    cursor: pointer;
}

#opciones #menu{
    display: none;
}

.icono{
    text-align: center;
}

.alternative-show{
    height: auto !important;
    opacity: 1 !important;
}
.icono .alternative{
    font-family: Monserrat;
    font-size: 0.6em;
    opacity: 0;
    height: 0;
}

.transparent-background{
    background-color: #3c3048;
    border-radius: 5px;
}


/* Estilos de la sección principal */
#seccion-principal{
    width: 100%;
    height: 90vh;
    background:-webkit-linear-gradient(top left, #BBAFEE 20%, #3F49A7 90%);
    background-color: #3F49A7;
    margin: 0;
    padding: 0.1px;
}

/* Fecha y hora */

.fecha-y-hora{
    width: 50%;
    min-width: 350px;
    max-width: 550px;
    background-color: #F1F1F182;
    margin: 25px auto;
    padding: 25px;
    text-align: center;
    border-radius: 20px;
}

#fecha, #hora{
    color: #030303;
    font-weight: bold;
    display: block;
}

#hora{
    font-size: 2.5em;
    margin: 15px auto;
}

#fecha{
    font-size: 1.25em;
}

/* Línea del tiempo */

.caja-linea{
    margin: auto;
    width: 95%;
    height: 200px;
    background-color: #F1F1F182;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.linea-del-tiempo{
    width: 100%;
    height: 25px;
    background: #C0DA1F;
    background: -webkit-linear-gradient(left, #C0DA1F 0%, #FFF 0%);
    margin: auto;
    border-radius: 12.5px;
    border: 1px solid #030303;
    box-shadow: 4px 2px 9px 0px #353535;
    position: relative;
}

.linea-del-tiempo::after, .linea-del-tiempo::before{
    content: '';
    width: 25px;
    height: 25px;
    background-color: #3A2A49;
    border: 1px solid #030303;
    position: absolute;
    border-radius: 12.5px;
    cursor: pointer;
    top: -1px;
    z-index: 1;
}

.linea-del-tiempo::after{
    left: -1px;
}

.linea-del-tiempo::before {
    right: -1px;
}

.inicio-fin{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    font-size: 0.85em;
}
.marcas .marca{
    width: 10px;
    height: 25px;
    background-color: #3F49A7;
    position: relative;
    z-index: 0;
    display: inline-block;
    cursor: pointer;
}

.marcas #actual{
    background-color: #f58e00;
    transform: translateX(-10px);
}
#nueva-tarea{
    width: 100px;
    height: 2.5em;
    min-height: fit-content;
    display: block;
    position: absolute;
    top: -80px;
    right: 15px;
    border-radius: 10px;
    color: #FFF;
    background-color: #1f0438;
    border: 2px solid #19022f;
    cursor: pointer;
}

#nueva-tarea:hover{
    background-color: #3d2455;
}

.alert{
    position: fixed;
    background: #00000036;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 2;
}

.alert form, #configurar-sesion{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 50vh;
    height: 50vh;
    min-height: 400px;
    overflow: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #000;
    box-shadow: inset -2px -3px 3px 2px #d2d2d2;
}

#btn-cancelar{
    position: absolute;
    right: 20px;
    background: transparent;
    border: none;
}

.caja-input{
    margin: 15px;
}

.caja-input label{
    font-weight: bold;
    padding: 3px 6px;
}

#submit-marca, #config-submit{
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    width: 85%;
    height: 2em;
    color: #fff;
    font-size: 0.9em;
    border: 2px solid #673ab7;
    background-color: #3a2a49;
    cursor: pointer;
    margin: auto;
}

#submit-marca:hover, #config-submit:hover{
    background-color: #3a2a49ea;
}

.mark-dialog{
    width: 200px;
    height: auto;
    max-height: 150px;
    position: absolute;
    overflow: auto;
    background: #fff;
    border-radius: 8px;
    padding: 10px 13px;
    bottom: 40px;
    left: -65px;
    display: none;
    border: 2px solid #3a2a49;
    z-index: 1;
    cursor:auto;
}

.mark-dialog h3{
    color: #000;
}

.mark-dialog span{
    font-size: 1.15em;
    color: #002654;
    font-weight: bold;
}

.mark-dialog p{
    font-size: 0.75em;
}

.error{
    color: red;
    font-size: 0.85em;
}

.remove-mark-icon{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#configurar-sesion {
    width: 90%;
    height: 85%;
    z-index: 2;
}

#configurar-sesion .caja-input{
    display: grid;
    margin: 50px;
}

#configurar-sesion label{
    font-size: 1.4em;
    margin-bottom: 30px;
}